:root{
    --primary: #00ff33;
    --secondary: #FF0000;
    --grey:#969696;
    --orange: orange;
    --nexturn: #00d9ff;
}
.btn-joueur , .btn-ordi{
    height: 100px;
    width: 100px;
    cursor: pointer;
    color: var(--grey);
    text-align: center;
}
img{
    height: 50px;
    width: 75px;
}
.btn-joueur , .btn-ordi{
    /* border: var(--secondary) 5px double; */
    margin-top: 5px;
}
.btn-joueur:hover{
    cursor: pointer;
    color: var(--orange);
}
.btn-ordi:hover{
    cursor: not-allowed;
}
.score{
    display: grid;
    grid-template-columns: repeat(2,200px);
    border-radius: 50px;
    color: var(--grey);
    font-size: 25px;
}
#reset{
    grid-column: span 2;
    font-size: 25px;
    cursor: pointer;
    color: var(--primary);
}
#reset:hover{
    color: var(--secondary);
}
.jeu{
    /* border: 1px black double; */
    width: 75%;
}
#message{
    font-size: 25px;
    color: var(--orange);
}
#next{
    cursor: pointer;
    color: var(--grey);
    text-align: center;
    font-size: 20px;
    visibility: hidden;
}
#next:hover{
    cursor: pointer;
    color: var(--nexturn);
    text-align: center;
}
.desactivated{
    cursor: not-allowed;
    opacity: 0.3;
    color: var(--grey);
}
.desactivated:hover{
    cursor: not-allowed;
    opacity: 0.3;
    color: var(--grey);
}
.active{
    cursor: default;
    border-radius: 5px;
    color: var(--grey);
}
